nav img {
    width: 120px;
}

.carousel-inner img {
    height: 500px;
    width: auto;

}

.botonUno {

    color: white !important;
}

#navbarNav {
    position: absolute !important;
    left: 500px !important;
}

.carousel-caption {
    top: 100px;
    bottom: auto;
    left: 500px;
}

#textoC {
    font-size: 20px !important;
}

#textdeco {
    font-size: 12px !important;
    ;
}